html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Merriweather", serif;
font-weight: 300;
font-style: normal;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header {
    width: 100%;
    text-align: center;
    position: relative;
    color: #007bff;
    padding: 100px 20px 50px;
}
.header h1 {
    font-size: 3rem;
    margin: 0;
    margin-top: -20px;
    text-transform: uppercase;
    font-weight: bold;
}
.breadcrumb {
    margin-top: 10px;
    font-size: 1rem;
}
.breadcrumb a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}
.breadcrumb a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container_main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.card_main img {
    width: 40%;
    height: auto;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #007bff, #fcd730) 1;
}

.card_main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #007bff, #fcd730) 1;
}

.card-content {
    padding: 15px;
}
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff;
    margin: 10px 0;
}
.card-subtitle {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
.container {
grid-template-columns: repeat(2, 1fr);
}
.card {
margin: 5px;
padding: 10px;
transform: scale(0.95);
}
}

@media (max-width: 768px) {
.header h1 {
margin-top: -60px;
font-size: 2.5rem;
}
.container {
grid-template-columns: 1fr;
}
.card {
margin: -15px;
padding: 8px;
transform: scale(0.9);
}
.card-title {
font-size: 1.1rem;
}
.card-subtitle {
font-size: 0.9rem;
}
.container {
padding: 5px;
}
}

@media (max-width: 480px) {

.header h1 {
font-size: 2rem;
}

.card {
margin: -15px;
padding: 5px;
transform: scale(0.85);
}

.card-title {
font-size: 1rem;
}

.card-subtitle {
font-size: 0.85rem;
}

}


.menu {
position: fixed;
top: -60px;
left: 0;
right: 0;
background-color: #055dbc;
color: white;
padding: 15px 0;
text-align: center;
transition: top 0.3s ease-in-out;
z-index: 1000;
}

.nav-menu ul {
list-style: none;
margin: 0;
padding: 0;
}

.nav-menu ul li {
display: inline;
margin: 0 15px;
}

.nav-menu ul li a {
color: white;
text-decoration: none;
font-weight: bold;
}

.nav-menu ul li a:hover {
text-decoration: underline;
}

section {
padding: 100px 20px;

}